<div class="padre">
  <div class="lista">
      <div class="form-row">

      </div>
      <table class="table">
      <thead class="thead-dark" >
      <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo de usuario</th>
          <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr  *ngFor="let option of Usuarios">
          <td>{{option.id}}</td>
          <td>{{option.name}}</td>
          <td>{{option.userType}}</td>
          <td>{{option.email}}</td>
      </tr>
      </tbody>
      </table>
  </div>
</div>
